*.apk
*.ap_
*.aab
*.class
bin/
gen/
out/
local.properties
.vs/PrandaWork/FileContentIndex/
Pods/
build/
*.xcodeproj/
!*.xcodeproj/project.pbxproj
*.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
DerivedData/
build/
Pods/
*.wgt
*.wgtu
*.tgs
*.tpk
*.p12
*.cspkg
*.pkg
*.xap
*.appx
*.appxbundle
*.userprefs
*.vspscc
*.vssscc
*.vstemplate
mono_crash.*
bin/
obj/
*.user
*.suo
*.sln.docstates
.idea/
.vscode/
*.log
*.com
*.class
*.dll
*.exe
*.o
*.so
*.lib
*.a
*.la
*.lo
*.dll
*.dylib
*.so
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.gz
*.bz2
*.xz
*.tgz
*.xz
*.war
*.ear
*.sar
*.apk
*.dmg
*.xpi
*.ipa
*.air
*.db
*.sql
*.sqlite
*.sqlite3
*.swp
